<section id = "main-section">
    <header>
        <h1>Role of Thumb.</h1>
        <nav>
            <ul>
                <li ng-click = "model.goToOtherPage('past')">Past Trials</li>
                <li ng-click = "model.goToOtherPage('how')">How It Works</li>
                <li ng-click = "model.goToOtherPage('login')">{{model.logInSingUpText}}</li>
                <li><i class="fa fa-search fa-2x" aria-hidden="true"></i></li>
            </ul>
        </nav>        
    </header>
    
    <main-candidate id = "main-candidate-home"info = "model.mainCandidate"></main-candidate>

    <div id = "closing-info-container">
        <div id = "closing-text">
            <span>CLOSING IN</span>
        </div>
        <div id = "closign-left-days">
            <span><strong>22</strong> days</span>
        </div>
    </div>
</section>

<section id = "second-section">
    <div id = "site-description" ng-if = "model.showSiteDescription">
        <p id = "site-description-primary-info" class = "site-description-info-block">
            <span>Spenak out. Be heard.</span> </br>
            <strong>Be counted</strong>
        </p>
        <p id = "site-description-sencondary-info" class = "site-description-info-block">
            Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It's easy: You share your opinion, we analyze and put the data in a public report.
        </p>
        <span id = "close-site-description" class = "site-description-info-block" ng-click = "model.closeSiteDescription()">X</span>
    </div>

    <h1 id = "votes-title">Votes</h1>
    <section id = "candidates-container">
        <candidate-info  ng-repeat = "candidate in model.candidatesList"
            info = "candidate"
            index = "$index"
            save-callback = "model.saveDataCallback"
            reset-callback = "model.resetDataCallback">
        </candidate-info>
    </section>   

    <div id = "people-suggestion">
        <div id = "people-suggestion-background"></div>
        <div id = "people-suggestion-text">
            <span>Is there anyone else you would want ud to add?</span>
            <button>Submit a Name</button>
        </div>        
    </div>
</section>

<footer>
    <div>
        <ul id = "terms-conditions">
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>Contact Us</li>
        </ul>

        <ul id = "footer-social-links">
            <li>Follow Us</li>
            <li><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
        </ul>
    </div>
    
</footer>
