#main-section {
    height: 590px;
    background-size: cover;

    header {
        color: $main-text-color;
        padding: $main-padding;
        color: white;
        background: linear-gradient(rgba(0, 0, 0, 0.81),rgba(0, 0, 0, 0));
        height: 100px;
        padding-top: 35px;


        h1 {
            margin: 0px;
            display: inline-block;
            width: 25%;
        }

        nav {
            display: inline-block;
            float: right;
            width: 75%;
            text-align: right;
            ul {
                margin: 0;
                list-style: none;
                padding: 0;
                li {
                    display: inline-block;
                    margin: 0 2%;
                    cursor: pointer;
                    &:hover {
                        color:#c2c2c2;
                    }
                }
            }
        }
    }

    #main-candidate-home {
        .main-candidate-container {
            margin-left: 10vw; 
        }
    }

    #closing-info-container {            
        margin-top: 90px;
        width: 100%;
        
        div {
            height: 40px;
            display: flex;
            align-items: center;
        }

        #closing-text {           
            background-color: rgba(0, 0, 0, 0.25);
            float: left;
            width: 30%;
            text-align: right;
            color: $main-text-color;
            justify-content: flex-end;
            
            span {
                margin-right: 10px;
                font-size: 14px;
            }
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0px;
                clear: both;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid rgba(0, 0, 0, 0.3);                
                left: 30%;
            }

        }

        #closign-left-days {
            background-color: rgba(255, 255, 255, 0.41);;
            width: 70%;

            span {
                font-size: 30px;
                margin-left: 18px;
            }
        }        
    }    
}

#second-section {
    padding: $main-padding;
    
    #site-description {
        background-color: #ebebeb;
        display: flex;
        align-items: center;        
        padding: 20px 25px;
        margin-top: 30px;

        .site-description-info-block {
            display: inline-block;
            margin: 0;            
        }

        #site-description-primary-info {
            width: 280px;
            margin-right: 20px;
            strong {
                font-size: 29px;
            }
        }

        #site-description-sencondary-info {
            text-align: justify;
        }

        #close-site-description {
            margin-left: 20px;
            cursor: pointer;
        }
    }

    #votes-title {
        font-size: 30px;
        font-weight: normal;
    }

    #candidates-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #people-suggestion {
        margin-top: 30px;

        #people-suggestion-background {
            background: url('http://www.radicalcompliance.com/wp-content/uploads/2016/08/Walking.jpg');
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 60px;
            opacity: 0.3;
        }

        #people-suggestion-text{
            margin-top: -42px;
            width: 100%;
            position: relative;

            span {
                margin-left: 15px;
                font-size: 20px;
            }
        }

        button {
            @include bolder-button(35px, 130px, black);
            float: right;
            margin-right: 15px;
        }
    }
}

footer {    
    margin-top: 50px;
    
    div {
        margin: 0 10vw;        
        padding: 20px 0;
        border-top: 1px dotted #b7b7b7;

        ul {
            display: inline-block;
            margin: 0;
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 0 5px;
                cursor: pointer;
                &:hover {
                    background-color: #efefef;
                }
            }
        }

        #footer-social-links {
            float: right;
            margin: -10px 0 0 0;
        }
    }
    
}

@media  only screen and (min-width: 0px) and (max-width: 768px) {
    #main-section { 
        background-position: center;
        header {
            nav {
                li {
                    font-size: 14px;
                }
            }
        }
    }

    #people-suggestion {
        
        #people-suggestion-text {           

            span {
                font-size: 12px !important;
            }
        }

        button {
            font-size: 12px !important;
        }
    }

    footer {
        font-size: 12px;
    }
}



