<div class = "main-candidate-container">
    <div class = "main-candidate-info">
        <small>What's your opinion on</small>
        <h1 class = "main-candidate-name">{{model.info.name}}?</h1>
        <p>{{model.info.description}}</p>
        <small><a ng-href="{{model.info.wiki}}"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> More Information</a></small>
        <h3>What's Your Veredict?</h3>
    </div>
    
    <div class = "main-candidate-thumbs-container">
        <div class = "main-candidate-thumbs-up">
            <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
        </div>
        <div class = "main-candidate-thumbs-down">
            <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>
