.main-candidate-container {
    height: 325px;
    width: 400px;
    color: $main-text-color;
    
    .main-candidate-info {
        background-color: rgba(0, 0, 0, 0.28);
        padding: 25px;

        small {
            font-size: 12px;
            a {
                color: $main-text-color;
            }
        }
        .main-candidate-name {
            font-size: 42px;
            margin: 0;
        }

        h3 {
            margin: 20px 0 0 0;
        }
    }

    .main-candidate-thumbs-container {

        div {
            display: inline-block;
            width: 50%;
            text-align: center;
            height: 60px;
            cursor: pointer;

            i {
                margin-top: 12px;
            }
        }

        .main-candidate-thumbs-up {
            float: left;
            background-color: $positive-vote-color-alpha;
            &:hover {
                background-color: $positive-vote-color-alpha-hover;
            }     
        }

        .main-candidate-thumbs-down {
            background-color: $negative-vote-color-alpha;
            &:hover {
                background-color: $negative-vote-color-alpha-hover;
            }  
        }
    }    
}
