$main-text-color: white;
$positive-vote-color: #1cbbb4;
$positive-vote-color-hover: #1ba49e;
$positive-vote-color-alpha: rgba(21, 205, 197, 0.71);
$positive-vote-color-alpha-hover: rgba(21, 205, 197, 0.9);
$negative-vote-color: #ffad1d;
$negative-vote-color-hover: #e29b1d;
$negative-vote-color-alpha: rgba(253, 170, 25, 0.71);
$negative-vote-color-alpha-hover: rgba(253, 170, 25, 0.9);

$main-padding: 0 10vw;

@font-face {
    font-family: 'Lato';
    src: url('../src/assets/fonts/Lato-Regular.ttf');
}

body {
    font-family: Lato;
    margin: 0;
}

@mixin thumb-button($color, $cursor) {
    padding: 5px 7px;
    background-color: $color;
    cursor: $cursor;
}

@mixin default-button($height, $width, $color) {
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
    height: $height;
    width: $width;
    cursor: pointer;

    &:focus {
        outline-color: transparent;
    }
}

@mixin bolder-button($height, $width, $color) {
    background-color: transparent;
    border: 2px solid $color;
    color: $color;
    height: $height;
    width: $width;    
    font-weight: bold;
    cursor: pointer;
    
    &:focus {
        outline-color: transparent;
    }
}

.border-white {
    border: 1px solid white;
}