<section>
    <h1>LOG IN</h1>
    <form novalidate>
        <label>User</label>
        <input type = "text" ng-model = "model.logUser"><br>
        <label>Password</label>
        <input type = "password" ng-model = "model.logPass">
        <button ng-click = "model.logIn()">Log in</button>
    </form>
</section>

<section>
    <h1>SIGN UP</h1>
    <form novalidate>
        <label>User</label>
        <input type = "text" ng-model = "model.signUpUser"><br>
        <label>Password</label>
        <input type = "password" ng-model = "model.signUpPass"><br>
        <label>Marriage Status</label>
        <input type = "text" ng-model = "model.signUpUserMarriageStatus"><br>
        <label>age</label>
        <input type = "number" ng-model = "model.signUpUserAge">
        <button ng-click = "model.signUp()">Send</button>
    </form>
</section>


