.candidate-container {
    height: 410px;
    width: 35vw;
    display: inline-block;
    background-size: cover;
    background-position: center;
    color: $main-text-color;
    margin: 10px;

    .candidate-info-container {
        height: 370px;
        background: linear-gradient(to top ,rgba(0, 0, 0, 0.6), transparent);

        .candidate-major-votes-icon {
            display: inline-block;
            vertical-align: top;
            margin-top: 217px;

            .icon-positive {
                @include thumb-button($positive-vote-color, auto);
            }

            .icon-negative {
                @include thumb-button($negative-vote-color, auto);
            }
        }

        .candidate-info {
            display: inline-block;
            width: 90%;
            margin-top: 210px;

            .candidate-name {
                margin: 0;
                font-size: 32px;
                white-space: nowrap
            }

            .candidate-last-time {
                font-size: 10px;
            }

            .candidate-description {
                margin: 10px 0;
                font-size: 13px;
                height: 30px;
            }

            .candidater-votes-options {
                .icon-positive {
                    @include thumb-button($positive-vote-color, pointer);
                    margin-right: 5px;
                    &:hover {
                        background-color: $positive-vote-color-hover;
                    }
                }

                .icon-negative {
                    @include thumb-button($negative-vote-color, pointer);
                    margin-right: 5px;
                    &:hover {
                        background-color: $negative-vote-color-hover;
                    }
                }
                button {
                    @include default-button(28px, 100px, $main-text-color);
                }
            }
        }
    }

    .candidate-votes-container {
        display: flex;

        div {
            height: 40px;
            align-items: center;
            display: flex;
        }

        .candidate-positive-votes {
            background-color: $positive-vote-color-alpha;
            width: 60%;

            i {
                margin: 0 10px;
            }
        }

        .candidate-negative-votes {
            background-color: $negative-vote-color-alpha;
            width: 40%;
            justify-content: flex-end;

            i {
                margin: 0 10px;
            }
        }
    }
    
}

@media  only screen and (min-width: 0px) and (max-width: 992px) {
    .candidate-container { 
        width: 80vw;
    }
}