<div class = "candidate-container" ng-click = "model.increment() ">
    <div class = "candidate-info-container">
        <div class = "candidate-major-votes-icon">
            <i class="fa fa-thumbs-up fa-1x icon-positive" aria-hidden="true" ng-show = "model.verifyMajorVotes('positive')"></i>
            <i class="fa fa-thumbs-down fa-1x icon-negative" aria-hidden="true" ng-show = "model.verifyMajorVotes('negative')"></i>
        </div>
        <div class = "candidate-info">
            <h1 class = "candidate-name">{{model.info.name}}</h1>
            <small class = "candidate-last-time">{{model.info.lastTime}} in {{model.info.lastTimePlace}}</small>
            <p class = "candidate-description">{{ model.voteAlreadySaved ? 'Thank you for your voting.' : model.info.description}}</p>
            <div class = "candidater-votes-options">
                <i class="fa fa-thumbs-up fa-1x icon-positive"
                    ng-show = "!model.voteAlreadySaved"
                    ng-click = "model.setVoteOption('positive')" 
                    ng-class = "{'border-white': model.selectedVote === 'positive'}" aria-hidden="true"></i>
                
                <i class="fa fa-thumbs-down fa-1x icon-negative" 
                    ng-show = "!model.voteAlreadySaved"
                    ng-click = "model.setVoteOption('negative')" 
                    ng-class = "{'border-white': model.selectedVote === 'negative'}" aria-hidden="true"></i>                
                
                <button ng-click = "model.saveVote()" ng-show = "!model.voteAlreadySaved">Vote Now</button>
                <button ng-click = "model.voteAgain()" ng-show = "model.voteAlreadySaved">Vote Again</button>
            </div>
        </div>
    </div>

    <div class = "candidate-votes-container">
        <div class = "candidate-positive-votes">
            <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i> <span>{{model.calcVotesPercentage(model.info.votes.positive)}}%</span>
        </div>
        <div class = "candidate-negative-votes">
            <span>{{model.calcVotesPercentage(model.info.votes.negative)}}%</span> <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>